pip>=25.2
discord.py==2.3.2
requests==2.31.0
pytz==2024.1
beautifulsoup4==4.12.2
huggingface-hub==0.24.6
transformers==4.43.3
sentencepiece==0.1.99
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu


